/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 4, 2018, 8:54:01 AM
    Author     : Grey_Nich
*/

.tab{
    
    -fx-background-color:  #34a853;
    -fx-pref-width : 100;
    -fx-pref-height : 25;
}


.tab-header-background{
    -fx-background-color:  #34a853;
    
}