/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : 22-Jul-2018, 19:18:07
    Author     : ARIELLECIAS
*/

.titled-pane
{
-fx-background-color:  #34a853;
}

.btn-rounded{
    -fx-background-color: white, white;
    -fx-background-radius: 50%;
    -fx-background-insets: -1.4, 0;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-padding: 0;
    -fx-font-size: 0;
}
 


.btn-primary{
    -fx-background-color: #34A853;
    -fx-text-fill: white;
}

.btn-danger{
    -fx-background-color:  #EA4335;
    -fx-text-fill: white;

}

.jfx-hamburger StackPane { -fx-background-color: #34A853; }

#tab .tab-label{
    -fx-background-color: white;
    -fx-text-fill: #34A853;
}

#tab:selected .tab-label{
    -fx-background-color:  #34A853 ;
    -fx-text-fill: white;
}

.tab-header-background {
    -fx-background-color: white;
}


.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-radius: 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0;
}


.menu-bar {
    -fx-background-color: #212121;
    -fx-font-size: 10pt;
}

.menu .context-menu .label {
    -fx-text-fill:  white;
    -fx-font-size: 11pt;
}


.menu .context-menu {
    -fx-background-color: #212121;
}

.menu .label{    
    -fx-text-fill:  white;
}

.menu-button {
    -fx-background-color: #212121;
}

.menuButton > .label {
    -fx-text-fill: #34a853;
}

.menuButtonWorkflow {
    -fx-background-color: #34a853;
}

.menuButtonWorkflow > .label {
    -fx-text-fill: white;
}

.menu-button:hover,
.menu-button:selected,
.menu-button:showing{
    -fx-background-color: #212121;
}

.menu-button:hover > .label,
.menu-button:selected > .label,
.menu-button:showing > .label{
    -fx-text-fill: #34A853;
}

.menu-button:hover  .fontIcon,
.menu-button:selected  .fontIcon,
.menu-button:showing     .fontIcon {
    -fx-fill: #34A853;
}

.menu-item:hover,
.menu-item:selected,
.menu-item:showing{
    -fx-background-color: #212121;
    -fx-text-fill: #34A853 !important;
}

.menu-item:hover .fontIcon,
.menu-item:selected .fontIcon,
.menu-item:showing .fontIcon{
    -fx-fill: #34A853;
}



/* Table */

.table-column {
    -fx-alignment: CENTER;
}

.table-row-cell:selected{
    -fx-background-color: #34A853;
    -fx-background-insets : 0, 0 0 1 0;
}

.table-row-cell:selected .text{
    -fx-fill: white;
}

.table-row-cell:selected .btnTable {
    -fx-background-color: white;
    -fx-text-fill: #34A853 !important;
}

.table-row-cell:selected .btnTable .text {
    -fx-fill: #34A853;
}

.table-row-cell:selected .btnTable .fontIconTable {
    -fx-fill: #34A853;
}

/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #b1e7bf;
    -fx-background-insets : 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}

/* Selected row hovered */
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: yellow;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected row hovered when table not focused */
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: #34A853;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
    -fx-text-fill: -fx-text-inner-color;
}

.table-row-cell .btnTable {
    -fx-background-color: #34A853;
    -fx-text-fill: white;
}
/*gawa kung CSS JPX*/
/*.table-view .table-cell{
    -fx-font-weight:bold;
    -fx-font-size:25px;
}*/

.table-row-cell .btnTable .text {
    -fx-fill: white;
}

.table-row-cell .btnTable .fontIconTable {
    -fx-fill: white;
}

.table-row-cell .btnTable .menu-item .text {
    -fx-fill: black;
}

.table-row-cell .btnTable .menu-item .fontIconMenu {
    -fx-fill: #34A853;
}


/*Table Menu*/

.table-row-cell .btnTable .menu-item:hover,
.table-row-cell .btnTable .menu-item:selected,
.table-row-cell .btnTable .menu-item:showing{
    -fx-background-color: #34A853;
}

.table-row-cell .btnTable .menu-item:hover .text,
.table-row-cell .btnTable .menu-item:selected .text,
.table-row-cell .btnTable .menu-item:showing .text{
    -fx-fill: white !important;
}

.table-row-cell .btnTable .menu-item:hover  .fontIconMenu,
.table-row-cell .btnTable .menu-item:selected  .fontIconMenu,
.table-row-cell .btnTable .menu-item:showing  .fontIconMenu{
    -fx-fill: white !important;
}


/* Sched Pane */

.paneStatus-upcoming{
    -fx-background-color:  #ffcc00;
}

.paneStatus-late{
    -fx-background-color:  #EA4335;
}

.paneStatus-confirmed{
    -fx-background-color:  #34A853;
}

