/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : 22-Jul-2018, 19:18:07
    Author     : ARIELLECIAS
*/



.btn-rounded{
    -fx-background-color: white, white;
    -fx-background-radius: 50%;
    -fx-background-insets: -1.4, 0;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-padding: 0;
    -fx-font-size: 0;
}


.btn-primary{
    -fx-background-color: #34A853;
    -fx-text-fill: white;
}

.btn-danger{
    -fx-background-color:  #EA4335;
    -fx-text-fill: white;

}




#tab .tab-label{
    -fx-background-color: white;
    -fx-text-fill: #34A853;
}

#tab:selected .tab-label{
    -fx-background-color:  #34A853 ;
    -fx-text-fill: white;
}

.tab-header-background {
    -fx-background-color: white;
}


.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-radius: 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0;
}

.menu-bar {
    -fx-background-color: #34A853;
    -fx-font-size: 10pt;

}

.menu .label{    
    -fx-text-fill:  white;
}


.menu-button {
    -fx-background-color: #34A853;
}

.menuButton {
    -fx-background-color: white;
}

.menuButton > .label {
    -fx-text-fill: #34a853;
}

.menuButtonWorkflow {
    -fx-background-color: #34a853;
}

.menuButtonWorkflow > .label {
    -fx-text-fill: white;
}

.menu-button:hover,
.menu-button:selected,
.menu-button:showing{
    -fx-background-color: white;
}

.menu-button:hover > .label,
.menu-button:selected > .label,
.menu-button:showing > .label{
    -fx-text-fill: #34A853;
}

.menu-button:hover  .fontIcon,
.menu-button:selected  .fontIcon,
.menu-button:showing     .fontIcon {
    -fx-fill: #34A853;
}

.menu:hover .context-menu .label {
    -fx-text-fill:  black;
}

.menu-item:hover,
.menu-item:selected,
.menu-item:showing{
    -fx-background-color: #34A853;
    -fx-text-fill: white !important;
}

.menu-item:hover .fontIcon,
.menu-item:selected .fontIcon,
.menu-item:showing .fontIcon{
    -fx-fill: white;
}



/* Table */

.table-view {
    -fx-background-color: transparent;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-view:focused {

    -fx-background-color: transparent;
}

.table-row-cell:selected{
    -fx-background-color: #34A853;
    -fx-background-insets : 0, 0 0 1 0;
}

.table-row-cell:selected  .text  {
    -fx-fill : white;
}


/* Sched Pane */

.paneStatus-upcoming{
    -fx-background-color:  #ffcc00;
}

.paneStatus-late{
    -fx-background-color:  #EA4335;
}

.paneStatus-confirmed{
    -fx-background-color:  #34A853;
}

